/vendor/
/node_modules/
/composer.lock

/.phpunit.cache
/.php-cs-fixer.cache

.env
.env.backup
.env.production

*.swp
*.swo
*~
.DS_Store
Thumbs.db

/.idea/
/.vscode/
/.history/

/_ide_helper.php
/.phpstorm.meta.php

/.omo
/.claude
/.ai